/* Start General Styles */
* {
  margin: 0;
  padding: 0;
  font-family: roboto, 'sans-serif';
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
/* End General Styles */

/* Start Header Section */
.header {
  padding: 0 70px;
  background-color: #f1f1f1;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo__link {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  display: inline-block;
  padding: 25px 15px;
}

.logout {
  letter-spacing: 1px;
}

.signup-link a {
  font-weight: 500;
}

.admin {
  letter-spacing: 1px;
}

.admin-name {
  cursor: pointer;
}
/* End Header Section */

/* Start Page Section */
.page {
  display: flex;
  gap: 40px;
  /* border: 3px solid #000; */
  padding: 70px;
  min-height: 72vh;
}
/* End Page Section */

/* Start Sign Up Form */
.page.signup {
  justify-content: center;
  align-items: center;
}

.signup__form {
  border: 3px solid green;
  padding: 20px;
  width: 500px;
}
/* End Sign Up Form */

/* Start Posts Section */
.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 3px solid green; */
}

.posts__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* border: 3px solid blue; */
}

.post {
  display: flex;
  gap: 40px;
  border: 1px solid #eee;
  padding: 20px;
}

.post__image {
  width: 250px;
}

.post__image a img {
  width: 100%;
}

.post__category {
  display: inline-block;
  margin-bottom: 15px;
  color: #666;
  text-transform: uppercase;
  font-size: 15px;
}

.post__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 23px;
}

.post__title a {
  color: #444;
}

.info__author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00ff00;
}

.post__author {
  font-size: 14px;
}

.post__date {
  margin: 0;
  font-size: 14px;
}

.post__content {
  margin: 0;
  margin-top: 20px;
  width: 650px;
  color: #666;
}

.post__link {
  display: inline-block;
  margin-top: 30px;
  color: #0d6efd;
  font-size: 14px;
  font-weight: 500;
}

.posts__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  padding: 20px;
}

.page-link {
  padding: 0px 10px !important;
}

/* End Posts Section */

/* Start Single Post Section */
.single__post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid green;
  padding: 20px;
}

.single__post__content {
  border: 3px solid blue;
  padding: 20px;
}

.single__post__comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid blue;
  padding: 20px;
}

.comments__form {
  border: 3px solid coral;
  padding: 20px;
}

.comments__form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.comments__form label {
  margin-bottom: 5px;
}

.comments__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid coral;
  padding: 20px;
}

.comment {
  border: 3px solid #eee;
  padding: 20px;
}

.comment__author {
  margin: 0;
  text-transform: uppercase;
}

.comment__date {
  margin: 0;
}

.comment__content {
  margin: 0;
}
/* End Single Post Section */

/* Start Sidebar Section */
.sidebar {
  border: 1px solid #eee;
  padding: 20px;
  width: 280px;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__search {
  border: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.search__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search__input {
  border: 1px solid #eee;
  padding: 5px 10px;
}

.search__btn {
  border: none;
  border: 2px solid #0d6efd;
  padding: 5px 0;
  color: #fff;
  background-color: #0d6efd;
}

.search__btn:hover {
  color: #0d6efd;
  background-color: #fff;
}

.sidebar__login {
  border: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__input {
  border-radius: 0;
  border: 0;
  border: 1px solid #eee;
}

.form__btn {
  border-radius: 0;
  border: 2px solid #0d6efd;
  padding: 5px 0;
  color: #fff;
  background-color: #0d6efd;
}

.form__btn:hover {
  color: #0d6efd;
  background-color: #fff;
}

::placeholder {
  font-size: 14px;
}

.sidebar__categories {
  border: 1px solid #eee;
  padding: 20px;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.categories__item {
  border: 1px solid #e1e1e1;
  width: calc(50% - 5px);
  text-align: center;
}

.categories__link {
  display: block;
  padding: 5px 0;
  color: #444;
  font-size: 14px;
}

.categories__link:hover {
  color: #fff;
  background-color: #0d6efd;
}

.sidebar__recent-posts {
  border: 1px solid #eee;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.recent-post {
  border: 1px solid #eee;
  width: calc(50% - 10px);
}

.recent-post__image {
  width: 100%;
}
/* End Sidebar Section */

/* Start Footer Section */
.footer {
  padding: 30px;
  text-align: center;
  background-color: #f1f1f1;
}
/* End Footer Section */
