/* Start General Styles */
* {
  margin: 0;
  padding: 0;
  font-family: roboto, 'sans-serif';
  box-sizing: border-box;
}

body {
  margin: 20px;
  background-color: #fafafa;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
/* End General Styles */

/* Start Header Section */
.header {
  border: 3px solid #000;
  padding: 0 40px;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  padding: 14px 0;
}

.logo__link {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

.homepage {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  display: inline-block;
  padding: 25px 10px;
}
/* End Header Section */

/* Start Page Section */
.page {
  display: flex;
  gap: 20px;

  margin: 20px 0;
  padding: 20px;
  border: 3px solid #000;
  min-height: 72vh;
}
/* End Page Section */

/* Start Dashboard Section */
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid green;
  padding: 20px;
}

.dashboard__title {
  border: 3px solid blue;
}

.dashboard__title h4 {
  padding: 20px;
  margin: 0;
}

.dashboard__title h4 span {
  color: coral;
  font-size: 18px;
  text-transform: uppercase;
}

.dashboard__content {
  flex: 1;
  border: 3px solid blue;
  padding: 20px;
}
/* End Dashboard Section */

/* Start Widgets Section */
.widgets__content {
  display: flex;
  gap: 20px;
  border: 3px solid coral;
  padding: 20px;
}

.widget__item {
  padding: 20px;
  border: 3px solid #000;
  width: 25%;
}

.widget__header {
  display: flex;
  justify-content: space-between;
}

.widget__footer {
  display: flex;
  justify-content: space-between;
}

/* End Widgets Section */

/* Start Dashboard Categories Section */
.dashboard__categories {
  display: flex;
  gap: 20px;
}

.categories__forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid coral;
  padding: 20px;
}

.create__categories__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid rgb(186, 186, 186);
  padding: 20px;
}

.update__categories__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid rgb(186, 186, 186);
  padding: 20px;
}

.categories__input {
  border-radius: 0;
}

.categories__btn {
  border-radius: 0;
  color: #fff;
  background-color: #0d6efd;
}

.categories__btn:hover {
  background-color: #0e5fda;
}

.categories__table {
  flex: 1;
  border: 3px solid coral;
  padding: 20px;
  cursor: pointer;
}
/* End Dashboard Categories Section */

/* Start Dashboard Posts Section */
.table__image {
  width: 100px;
}

.post__form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post__form div {
  width: calc(50% - 20px);
}

.post__form div label {
  margin-bottom: 7px;
}

/* End Dashboard Posts Section */

/* Start Dashboard Section */
.user__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user__form label {
  margin-bottom: 5px;
}

.user__input {
  width: 50%;
}

.user__btn {
  width: 15%;
}
/* End Dashboard Section */

/* Start Sidebar Section */
.sidebar {
  border: 3px solid green;
  padding: 20px;
  width: 160px;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__link {
  display: block;
}

.dropdown__list {
  padding-left: 28px;
  list-style: circle;
}

.dropdown__item a {
  font-size: 14px;
}
/* End Sidebar Section */

/* Start Footer Section */
.footer {
  border: 3px solid #000;
  padding: 20px;
  text-align: center;
}
/* End Footer Section */
